body{
    font-family: "Comic Sans MS";
    background-color: bisque;
}

h1{
    font-family: "Comic Sans MS";
}

.customFont{
    font-family: "Comic Sans MS", !important;
}

h2{
    color: dimgray;
    background-color: skyblue;
}

.imageCustom{
    width: 40%;
    left: 0;
    right: 0;
}

.tableauPlaceholder{
    display: flex;
    justify-content: center;
    align-items: center;
}